@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:400,700&display=swap');
* {
    padding: 0px;
    margin: 0px;
}

html, body{
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.5rem;
}

#titel {
    background-image: url("../img/achtergrond.jpg");
    background-size: 100%;
    background-position: center;
    height: 15%;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 10px black;
    padding-bottom: 10px;
}

#titel h1 {
    font-size: 3.2rem;
}

#titel p {
    font-size: 1.1rem;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
}

#menu {
    background-color: #03256C;
    height: 100%;
    width: 10%;
    padding-bottom: 60px;
}

#berichten {
    background-color:  #1768AC;
    height: 100%;
    width: 75%;
    padding: 30px;
    color: white;
}

#main {
    background-color:  #1768AC;
    height: 100%;
    width: 90%;
    padding: 30px;
    color: white;
}

#plaatjes {
    height: 100%;
    width: 15%;
    color: #111111;
}

#plaatjes img
{
    width: 100%;
}

ul {
    list-style-type: none;
    font-size: 1.6rem;
}

/* De LoVe HAte regel op het menu */
li a:link, li a:visited {
    background-color: #2541B2;
    display: block;
    text-decoration: none;
    text-align: right;
    margin-top: 32px;
    padding: 12px 25px;
    color: white;
}

li a:hover {
    background-color: #006494;
}

li a:active {
    background-color: #006494;
    text-decoration: underline;
}


.bericht {
    background-color: #06BEE1;
    height: 20%;
    width: 70%;
    margin-bottom: 5px;
    text-align: center;
}


.wikitable {
    background-color: #f8f9fa;
    color: #222;
    border-collapse: collapse;
    font-family: 'Open Sans', sans-serif;
}

#tabel
{
    width: 100%;
    height: 95%;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

td{
    padding: 4px;
}

